@use '../../app/variables'

.titleContainer
    position: relative
    height: 700px

.cover
    filter: opacity(0.6)
    object: cover

.menuGroup
    position: absolute
    top: 0rem
    left: 0
    @include variables.flex(none, center, column)
    z-index: 30
    width: 100%
    height: 100%

.menuText
    @include variables.flex(center, center, column)
    flex: 1
    gap: 5px
    z-index: 50
    & .h1
        @include variables.flex(none, center, column)
        color: #973
        
    

@media (min-width: 768px)
    
    